.env
__pycache__/
*.py[cod]
*$py.class
.DS_Store

checkpoints-new/
cot-analyses/

data/agieval/
data/cot/
data/gpqa/
data/gsm8k/
data/ifeval/
data/logic/
data/math/
data/mgsm/
data/mmlu/
data/squad/
data/winogrande/
data/gsm8k_dataset_analyses_no_it.py
data/gsm8k_dataset_cot_analyses.py
data/gsm8k_dataset_da_analyses.py
data/gsm8k_dataset_no_cot.py
data/gsm8k_dataset.py
data/logic_dataset.py
data/squad_dataset.py

eap/ims/
env/ref/

eval/results/
eval/agieval/
eval/gpqa/
eval/gsm8k/
eval/humaneval/
eval/IFEval/
eval/logic/
eval/mgsm/
eval/mmlu_test/
eval/squad/
eval/winogrande/
eval/README.md

figures/
figures_old/
sv_analyses/head_subj_number/
sv_analyses/sv_analyses.py
wandb/

.env

scripts/gpu.sh
scripts/exp_info.sh
scripts/circuit-tuning_in.sh
scripts/circuit-tuning_scheduler.sh
scripts/circuit-tuning_scheduler_bias.sh
scripts/circuit-tuning_llama.sh
scripts/circuit-tuning_llama_outcome.sh
scripts/circuit-tuning_llama_ckpt.sh
scripts/circuit-tuning_llama_logic.sh
scripts/circuit-tuning_llama_1.sh

circuit_tuning.py
circuit_tuning_llama_old(bad mean).py
circuit_tuning_llama_offload.py
circuit_tuning_llama_new.py

ignore.py
ignore.ipynb
draw_old.py

README_FOR_ME.md
